:root {
    /* --- COLOR PALETTE --- */
    --live-indiacator-shadow: hsla(0, 79%, 63%, 0.5);
    --rich-black-fogra-30:    hsl(219, 32%, 10%);   /* Very Dark Blue/Background */
    --rich-black-fogra-29:    hsl(222, 25%, 10%);   /* Used for Scrollbar Border */
    --live-indicator:         hsl(0, 79%, 63%);   /* Reddish-Orange (LIVE accent) */
    --oxford-blue-50:         hsla(218, 39%, 14%, 0.8);
    --oxford-blue:            hsl(218, 39%, 14%);   /* Primary Background/Header */
    --light-azure:            hsl(214, 84%, 56%);   /* Primary Accent (Links/Icons) */
    --off-white:              hsl(0, 0%, 88%);   /* Primary Text Color */
    --yellow:                 hsl(45, 100%, 54%);   /* Secondary Accent */
    --white:                  hsl(0, 0%, 100%);   /* Heading Text Color */
    --azure:                  hsl(211, 100%, 50%);

    /* --- TYPOGRAPHY --- */
    --ff-inter: "inter", sans-serif;
    --section-heading: 40px;
    --fs-lg:           22px;
    --fs-md:           17px;
    --fs-sm:           14px;
    --fs-x-sm:         12px;

    /* --- PADDING & MARGINS --- */
    --px: 120px; /* Global Horizontal Padding */
}
